*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

@font-face{
    src: url('Caveat-VariableFont_wght.ttf');
    font-family: 'Caveat';
}

body{
    background: url('desktop.jpg') no-repeat center center/ cover;
    background-attachment: fixed;
    background-size: 100% 100%;
    /* font-family: 'Segoe UI', sans-serif; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 550px;
    height: 500px;
}

.header{
    color: white;
    background: linear-gradient(135deg, rgba(41, 16, 128, 0.709), rgba(177, 96, 15, 0.644));
    border: 3px solid white;
    padding: 5px;
    width: 80%;
    /* text-align: center; */
    margin: 20px auto;
    font-size: 1.2rem;
    border-radius: 5px;
}
.main-section{
    /* background: linear-gradient(135deg, rgba(71, 192, 150, 0.575) 20%, rgba(26, 80, 141, 0.624), rgba(250, 149, 54, 0.657)); */
    background-color: rgba(5, 26, 73, 0.628);
    padding: 60px 50px;
    /* color: black; */
    border-radius: 1rem;
    position: relative;
    width: 100%;
    box-shadow: 0 0 10px 5px rgb(255, 255, 255);
    /* width: 300px; */

}

.main-section .text-area{
    font-size: 1.7rem;
    line-height: 1.5;
    font-family: monospace;
    /* font-weight: */
    color: rgb(255, 226, 5);
    margin-bottom: 20px;
}
.copy-clipboard img{
    position: absolute;
    box-sizing: content-box;
    /* padding: 30px; */
    background-color: aliceblue;
    border-radius: 50%;
    /* top: -25px; */
    left: 50%;
    top: 10px;

}
.author{
    color: rgb(255, 255, 255);
    /* background-color: rgb(123,43,100); */
    /* margin: 50px 0; */
    /* text-transform: uppercase; */
    font-size: 1.3rem;
    font-family: monospace;
    /* text-decoration: ; */
    margin-bottom: 30px;
    font-weight: bolder;
}

.author::before{
    content: '~ ';
    color: red;
}

#next-quote{
    margin-top: 30px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 251, 251);
    /* letter-spacing: 4px; */
    font-family: 'Times New Roman';
    font-size: 1rem;
    border-radius: 1rem;
    border: 1px solid white;
    /* box-shadow: 0 0 10px 5px black; */
}

#next-quote:active{
    background-color: blue;
}

@media screen and (max-width: 600px){
    .main-section{
        border-radius: 0;
    }
}

@media screen and (max-width: 400px){
    .main-section .text-area{
        font-size: 1.3rem
        ;}
}
